@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Roboto:wght@700&display=swap');



/******** CUSTOM CSS ********/


/* user login/sign-up form effects */
#formContainer .flex {
    transition: margin-left 0.3s ease-in-out;
}
#formContainer .flex.moved {
    margin-left: calc(-100% - 4px);
}


/* button effects */
.custom-button:hover,
.custom-button.active {
    filter: invert(100%);
}
